services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/.venv

    environment:
      # Connect to the database container instead of localhost
      - DATABASE_URL=postgresql+asyncpg://jinsy:123456789@db:5432/postgres
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=jinsy
      - POSTGRES_PASSWORD=123456789
      - POSTGRES_DB=postgres
    ports:
      # Optional: Maps db to port 5432 on localhost, useful if you want to connect via pgAdmin
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U jinsy -d postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
